<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.spotify.music" />
        <package android:name="com.miui.home" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_leo"
        android:label="${appLabel}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MaintenanceActivity"
            android:exported="false" />

        <activity
            android:name=".MaintenanceAuthActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>
